@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Roboto&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    font-family: 'Rubik', sans-serif;
    border-radius: 50%;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
}

canvas {
    display: block;
}

.bar {
    position: absolute;
    top: 50%;
    margin-left: 17%;
}

input {
    width: 500%;
    text-align: center;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.search-text {
    top: 40%;
    position: absolute;
    justify-content: center;
    margin-left: 47%;
    color: white;
}

.footer {
    color: white;
    bottom: -1%;
    position: absolute;
    height: 100px;
    background: grey;
    width: 100%;
    text-align: center;
}

.tabs {
    bottom: 92%;
    position: absolute;
    display: flex;
    text-align: center;
    margin-left: 85%;
}

.tab-apps {
    background: grey;
    width: 100%;
    height: 60px;
    border-radius: 10%;
}

.tab-games {
    background: grey;
    width: 100%;
    height: 60px;
    border-radius: 10%;
    margin-left: 20px;
}

.tab-apps:hover {
    background-color: rgb(54, 52, 52);
}

.tab-games:hover {
    background-color: rgb(54, 52, 52);
}